.Price-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  text-align: center;
}

.Price-p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumb {
  height: 120px;
  width: 120px;
}
